# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
**/node_modules/*

# testing
**/coverage/*

# production
**/build/*

# misc
.DS_Store

# local
*.local

#env
.env.local
.env.development.local
.env.test.local
.env.production.local
.prod.env
.dev.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

**/.vscode/*
**/lib/*
**/built/*
**/out/*
**/dist/*
**/built/*
**/.vs
**/.idea/*
**/.secrets/*

*.zip
*.tgz

*.test.env 
*.dev.env
*.prod.env

*.lock